.wrapper
  text-align: center

.content
  margin-left: 15%
  width: 75%

.center
  display: inline-block
  text-align: left

.sidebar
  float: left
  position: fixed
  margin-left: 5%
  margin-right: 5%
  max-width: 15%
