@import "~open-color/open-color.scss"

.sidebar-content
  text-align: left

.avatar
  border-radius: 50%
  bottom: 0

.blog-title
  font-weight: 300
  text-align: left

.subtitle
  font-weight: 200
  margin-top: 10px

.menu
  list-style: none
  padding-left: 0
  li
    margin-bottom: 10px
    a
      text-decoration: none
      &:hover
        color: $oc-gray-9
        cursor: pointer
        text-decoration: underline

