@import '~prismjs/themes/prism-okaidia.css'
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import "~open-color/open-color.scss"
@import "~normalize.css/normalize.css"

@import "~milligram/src/Color"
$color-primary: $oc-orange-6

@import "~milligram/src/Blockquote"
@import "~milligram/src/Button"
.button-sm
  text-transform: none
  font-size: 1rem
  height: 1.5rem
  line-height: 1.5rem
  background-color: $oc-gray-6
  border-color: $oc-gray-6
  color: $oc-gray-6 !important
  &:hover
    background-color: $oc-gray-9
    border-color: $oc-gray-9
    color: $oc-gray-9 !important
  &.active
    border-color: $color-primary
    color: $color-primary !important
    &:hover, &:focus
      border-color: $color-primary

@import "~milligram/src/Code"
code
  padding: 0 !important

@import "~milligram/src/Divider"
hr
  margin: 1.5rem 0

@import "~milligram/src/Form"
@import "~milligram/src/Grid"
@import "~milligram/src/List"
@import "~milligram/src/Table"
@import "~milligram/src/Image"
@import "~milligram/src/Utility"

html
  font-family: 'Montserrat', sans-serif !important
  color: $oc-gray-7
  font-size: 14px

h1, h2, h3, h4, h5, h6, a
  color: $oc-gray-8

.link:hover
  color: $oc-gray-9
  cursor: pointer
  text-decoration: underline
